<h2 mat-dialog-title>Detalhes do Filme</h2>
<mat-dialog-content>
    <div *ngIf="isLoading" class="loading-container">
        <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="!isLoading">
        <div *ngIf="movie; else errorTemplate">
            <img [src]="posterUrl" alt="Poster do filme" style="width: 100%;" />
            <h3>{{ movie.title }}</h3>
            <p>{{ movie.overview }}</p>
        </div>
        <ng-template #errorTemplate>
            <p>Erro ao carregar os detalhes do filme.</p>
        </ng-template>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button (click)="closeModal()">Fechar</button>
</mat-dialog-actions>