.catalog-container {
    padding: 1rem;
    background-color: #121212;
    color: #fff;
}

.section {
    margin-bottom: 2rem;
}

.mat-toolbar {
    margin-bottom: 1rem;
}

.movies-grid {
    display: grid;
    gap: 1rem;
    margin-bottom: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.movies-row {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    padding-bottom: 1rem;
}

.movie-item {
    flex: 0 0 auto;
}

.movies-row::-webkit-scrollbar {
    display: none;
}

.load-more-container {
    margin-top: 1rem;
    text-align: right;
}

.loading-more {
    text-align: center;
    margin-top: 1rem;
}