<nav>
    <div class="navbar-container">
        <button mat-icon-button (click)="toggleMenu()">
            <mat-icon>menu</mat-icon>
        </button>

        <div class="menu-items" [class.open]="isMenuOpen">
            <button mat-button (click)="loadPopularMovies()" [class.active]="!selectedGenreId()">
                Todos os Filmes
            </button>

            <button *ngFor="let genre of genres()" mat-button (click)="selectGenre(genre.id)"
                [class.active]="selectedGenreId() === genre.id">
                {{ genre.name }}
            </button>
        </div>
    </div>
</nav>