<mat-toolbar color="primary" class="navbar-toolbar">
    <span class="navbar-title">Filmes</span>
    <span class="spacer"></span>
    <mat-form-field appearance="fill" class="genre-select">
        <mat-label>Gêneros</mat-label>
        <mat-select [value]="selectedGenreId()">
            <mat-option (click)="loadPopularMovies()" [value]="null">
                Todos os Filmes
            </mat-option>
            <mat-option *ngFor="let genre of genres()" [value]="genre.id" (click)="selectGenre(genre.id)">
                {{ genre.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</mat-toolbar>