.navbar-toolbar {
    padding: 0 1rem;
    display: flex;
    align-items: center;
    background-color: #02305d;

    .navbar-title {
        font-size: 1.5rem;
        font-weight: bold;
        color: white;
    }

    .spacer {
        flex: 1 1 auto;
    }

    .genre-select {
        width: 200px;

        .mat-form-field-wrapper {
            color: white;
        }

        .mat-select-value-text {
            color: white;
        }

        .mat-form-field-label {
            color: rgba(255, 255, 255, 0.7);
        }
    }
}

.mat-option.active {
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.1);
}