<!-- Se há movie, exibe o card -->
<ng-container *ngIf="movie as data">
    <div class="movie-card" (click)="goToDetails()">
        <div class="image-container">
            <!-- Removendo loading="lazy" para evitar warnings e sumiço da LCP -->
            <img class="poster" [src]="posterUrl()" [alt]="data.title" />
            <div class="overlay">
                <h3 class="title">{{ data.title }}</h3>
            </div>
        </div>
    </div>
</ng-container>

<!-- Caso não exista movie, exibe estado vazio -->
<ng-container *ngIf="!movie">
    <div class="movie-card empty-state">
        <p>Filme indisponível</p>
    </div>
</ng-container>